<h3>Dashboard</h3>
<div class="content">
    <div>
        <form action="/post" method="post">
            <div class="formfields">
                Your name:<br />
                <input type="text" name="author_name" id="author_name" /><br />
                Your Message:<br />
                <textarea rows="5" cols="30" name="blog_post" id="blog_post"></textarea><br />
                <input type="Submit" name="Submit" text="Submit" />
            </div>
        </form>
    </div>
</div>