<h3>Home</h3>
{{#if results}}
<div>
    {{#each results}}
    <div class="content">
        <div>{{this.createdAt}}</div>
        <div>{{this.author_name}}</div>
        <div>{{this.blog_post}}</div>
    </div>
    {{/each}}
</div>
{{/if}}