<h3>Log In</h3>
<div class="content">
    <form>
        User Name:<br />
        <input type="text" name="username" /><br />
        Password:<br />
        <input type="password" name="password" />
        <input type="Submit" name="Submit" text="Submit" />
    </form>
</div>